.App {
   text-align: center;
   font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url("../imgs/rick-y-morty-en-el-espacio-6046.jpg");
   height: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center;
   /* background-color: wheat; */
   border: 2px solid black;
   border-radius: 5px;
}